#root {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.contenedorPrincipal {
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 1px 8px 0px rgba(111, 111, 111, 0.75);
  margin: 10px 0px;
}
